.login {
  min-width: 470px;
  min-height: 500px;
  background: white;
  color: black;
  padding: 1em;
  border-radius: 12px;
  border: 2px ridge rgb(180, 180, 180);
}

div.form-group {
  margin-top: 1em;

  label {
    font-weight: bold;
    margin-left: 0.5em;
  }
}


/* For small devices */
@media only screen and (max-width: 600px) {
  .login {
    min-width: 360px;
    min-height: 420px;
  }
}
