<div class="container-fluid outer-div d-flex flex-column">
  <div class="d-flex justify-content-end">
    <h4> НАЛОГ ЗА УПЛАТУ </h4>
  </div>
  <div class="d-flex">
    <div>
      <small>уплатилац</small>
      <div class="left-side-div">
        <span> Марко Стришко </span>
      </div>

      <small>сврха уплате</small>
      <div class="left-side-div">
        <span> Цвеће за лепоту </span>
      </div>

      <small>прималац</small>
      <div class="left-side-div">
        <span> Јелена Ковачевић </span>
      </div>

      <div class="signature-line">
        <span> Марко Стришко </span>
      </div>
      <small> печат и потпис уплатиоца </small>
    </div>

    <div class="separator">

    </div>

    <div class="d-flex flex-column">
      <div class="d-flex">
        <div class="d-flex flex-column">
          <small class="ml-25"> шифра </small>
          <small class="ml-25"> плаћања </small>
          <div class="payment-code-div d-flex align-items-center">
            <span>290</span>
          </div>
        </div>

        <div class="mt-15">
          <small class="ml-4"> валута </small>
          <div class="payment-code-div d-flex align-items-center">
            <span>RSD</span>
          </div>
        </div>

        <div class="mt-15">
          <small class="ml-30"> износ </small>
          <div class="amount-div d-flex align-items-center">
            <span>= 1405.50</span>
          </div>
        </div>
      </div>

      <div>
        <small class="ml-4"> рачун примаоца </small>
        <div class="payer-account-div d-flex align-items-center">
          <span>9032-38923232323234-3232</span>
        </div>
      </div>

      <div>
        <small class="ml-4"> модел и позив на број (одобрење) </small>
        <div class="d-flex">
          <div class="model-div d-flex align-items-center">
            <span>97</span>
          </div>
          <div class="flex-grow-1 amount-div d-flex align-items-center">
            <span>323-3231232132154-3123</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex justify-content-center">
    <div class="mr-4">
      <div class="place-date-line">
        <span> Нови Сад - 17.11.2019. </span>
      </div>
      <small> место и датум пријема </small>
    </div>
    <div class="ml-4">
      <div class="date-line">
        <span> 17.11.2019. </span>
      </div>
      <small> датум валуте </small>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-center">
    <small class="size-11"> Образац бр. 1 </small>
  </div>
</div>
