<div class="full-container animated slideInDown d-flex justify-content-center align-items-center">
  <div class="page-not-found">
    <div class="d-flex flex-column align-items-center">
      <figure class="logo">
        <img src="../../../assets/images/not_found_image.png" class="img-circle img-responsive" height="300px" width="300px" />
      </figure>
      <hr class="divider" />
    </div>
    <div align="center">
      <h1> Žao nam je, tražena stranica ne postoji. </h1>
      <button class="btn btn-primary btn-lg mt-3" type="button" (click)="back()">
        <i class="fas fa-angle-left"></i> Nazad
      </button>
    </div>
  </div>

</div>
